section.base-dr {
  width: 768px;
  border: 1px solid #F5F5F5;
  border-radius: 10px;
  background-color: #F5F5F5;
  padding-bottom: 15px;
  margin: 20px;
}

h1.feature-name {
  height: 24px;
  width: 189px;
  color: #222222;
  font-family: Roboto serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
}

section.in-bundle {
  position: relative;
  margin: 0 auto;
  width: 670px;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  background-color: #FFFFFF;
  padding: 25px;
}

.main-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

select.dns-select {
  height: 56px;
  width: 327px;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin-bottom: 20px;
}

span.dns-autorenew-option {
  height: 56px;
  width: 327px;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  background-color: #FFFFFF;
  display: inline-block;
}

.dns-price {
  padding: 0 35px;
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
