<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section class="feature">
  <span class="feature-name">PremiumDNS</span>
  <span class="feature-price">{{formatPrice(cart.domain.features.premiumDns.price)}}</span>
  <input type="checkbox" v-model="cart.domain.features.premiumDns.active"/>
</section>

</body>
</html>
