<template>
  <div class="hello">
    <ul>
      <li v-for="item in cart" :key="item.id">
        <div v-bind:id="item.type + '-' + item.id"></div>
      </li>
    </ul>
  </div>
</template>

<script>
  import pretty from '../helper/prettiefy';
  import Bus from './Bus';

  export default {
    name: 'ShoppingCart',
    props: ['widgets'],
    computed: {
      prettyCart() {
        return this.cart && pretty(this.cart)
      }
    },
    mounted() {
      const self = this;

      this.Bus = new Bus(this.cart, this);

      window.onerror = function (msg, url, line, col, err) {
        console.log(arguments);
        return false;
      };

      Object.keys(this.widgets).forEach(widgetType => {
        if (!document.querySelector(`script#${widgetType}`)) {
          const script = document.createElement('script');
          script.id = widgetType;
          script.src = this.widgets[widgetType].script;
          document.body.appendChild(script);

          script.onload = function (e) {
            self.cart.filter(item => item.type === widgetType)
              .forEach(cartItem => {
                const pubSub = self.Bus.addWidget({widgetType, cartItemId: cartItem.id});
                window.ncWidgets[self.widgets[widgetType].funcName](pubSub, `${widgetType}-${cartItem.id}`);
              });
          };
        }
      });

    },
    data() {
      return {
        cart: [
          {
            id: 4,
            type: 'domain',
            state: {
              name: 'evilgays',
              tld: 'org',
              autorenew: true,
              price: 1569,
              renewalPrice: 3318,
              registration: '1',
              features: {
                whoisguard: {
                  active: true,
                  price: 110
                }
              }
            },
            relatedItemsIds: [],
          },
          {
            id: 1,
            type: 'domain',
            state: {
              name: 'fabulousdomain',
              tld: 'com',
              autorenew: true,
              price: 969,
              renewalPrice: 1318,
              registration: '2',
              features: {
                whoisguard: {
                  active: true,
                  price: 0
                }
              }
            },
            relatedItemsIds: [],
          }, {
            id: 2,
            type: 'premiumDns',
            state: {
              active: true,
              price: 468,
              autorenew: false,
              registration: '1'
            },
            relatedItemsIds: [],
          },
          {
            id: 5,
            type: 'premiumDns',
            state: {
              active: true,
              price: 468,
              autorenew: false,
              registration: '1'
            },
            relatedItemsIds: [],
          },
          {
            id: 3,
            type: 'privateEmail',
            state: {
              active: true,
              registration: '1',
              autorenew: false,
              price: 851
            },
            relatedItemsIds: [],
          },
          {
            id: 6,
            type: 'privateEmail',
            state: {
              active: true,
              registration: '1',
              autorenew: false,
              price: 851
            },
            relatedItemsIds: [],
          }]
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
