section.base-dr {
  height: 623px;
  width: 768px;
  border: 1px solid #F5F5F5;
  border-radius: 10px;
  background-color: #F5F5F5;
}

h1.domain-registration {
  height: 24px;
  width: 189px;
  color: #222222;
  font-family: Roboto serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
}

section.in-bundle {
  height: 484px;
  margin: 0 auto;
  width: 670px;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  background-color: #FFFFFF;
  padding: 25px;
}

span.oval-3 {
  display: inline-block;
  height: 40px;
  width: 40px;
  float: left;
  background-color: #8A8A8A;
}

span.domain-name {
  height: 28px;
  width: 419px;
  color: #222222;
  font-family: Roboto serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

span.price {
  float: right;
  height: 28px;
  width: 66px;
  color: #6D6F70;
  font-family: Roboto serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  text-align: right;
}

span.renewal-price {
  height: 19px;
  width: 98px;
  color: #AEAEAE;
  font-family: Roboto serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-align: right;
  position: relative;
  top: 28px;
  right: -175px;
}

select.registration-period {
  height: 56px;
  width: 327px;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  background-color: #FFFFFF;
  float: left;
}

section.main-options {
  margin-top: 40px;
}

span.autorenew-option {
  height: 56px;
  width: 327px;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  background-color: #FFFFFF;
  display: inline-block;
  float: right;
}

span.autorenew-option-title {
  height: 19px;
  width: 178.98px;
  color: #6D6F70;
  font-family: Roboto serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

section.features {
  height: 307px;
  width: 636px;
  border: 1px solid #EEEEEE;
  background-color: #FAFAFA;
  margin-top: 116px;
  padding: 16px;
}

.features-total-price {
  height: 19px;
  width: 71px;
  color: #6D6F70;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  display: inline-block;
  float: right;
}

.feature {
  height: 56px;
  width: 640px;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin-bottom: 16px;
}

.feature-price {
  margin: 0 15px;
}

.features-list {
  margin-top: 25px;
}
