<template>
  <div id="app">
    <ShoppingCart :widgets="widgets" />
  </div>
</template>

<script>
import ShoppingCart from './components/ShoppingCart'

export default {
  name: 'app',
  components: {
    ShoppingCart
  },
  data() {
    return {
      widgets: {
        domain: {
          script: 'http://localhost:8081/app.js',
          funcName: 'Domain'
        },
        privateEmail: {
          script: 'http://localhost:8082/static/js/bundle.js',
          funcName: 'PrivateEmail'
        },
        premiumDns: {
          script: 'http://localhost:8083/static/js/bundle.js',
          funcName: 'PremiumDns'
        }
      }
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
